name: Say Hello

on: push

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./
        with:
          file: config.json
          field: username
          value: "abcdefef"
      - name: Commit files
        run: |
          git config --local user.email "amartyaroykumar001@gmail.com"
          git config --local user.name "amartyaroy"
          git status
          git add -A
          gi commit -m "changed package.json" -a
      #   git push HEAD:refs/heads/main
      - uses: ad-m/github-push-action@master
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          branch: ${{github.ref}}

          
          
      