name: Say Hello

on: push

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          file: config.json
          field: username
          value: "abcdefef"
      - name: Commit files
        run: |
          git config --local user.email "amartyaroykumar001@gmail.com"
          git config --local user.name "amartyaroy"
          git add -A
          git status
          gi commit -am "changed1 package.json"
      #   git push HEAD:refs/heads/main
      - uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{github.token}}

          
          
      