name: Say Hello

on: push

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./
        with:
          file: package.json
          field: version
          value: 1.8.8
      - name: Commit files
        run: |
          git config --local user.email "amartyaroykumar001@gmail.com"
          git config --local user.name "amartyaroy"
          git status
          git add -A
          git commit -m "updating a JSON file"
      